- content_for :header do
  %section.hero.is-warning
    .hero-body
      .container
        %h1.title


.row
  - @pictures.each do |picture|
    .card.col-md-4.card-margin
      .card-img-top.text-center
        = image_tag(picture.image_url ,style: "width: 18rem;")
      .card-body
        - if picture.condition?
          = picture.condition
        %h5.card-title
          = link_to picture.title, picture

        %p.card-text
          Sold by #{picture.user&.name}
        .btn.btn-primary
          = number_to_currency(picture.price)
        - if picture_author(picture)
          = link_to 'Edit', edit_picture_path(picture), class: "btn btn-warning"
          = link_to 'Delete', picture, method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-danger"

